################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio/FileContentIndex/b6a4f6d8-180c-4b33-bf46-e2aff43bfcb0.vsidx
/.vs/Portfolio/FileContentIndex/b77229cf-3580-4642-8cc8-31d709f1f8e9.vsidx
/.vs/slnx.sqlite
